<!-- modify this form HTML and place wherever you want your form -->
<form
  action="https://formspree.io/f/mwpnnwdl"
  method="POST"
> 
  <label>
    Full name:
    <input type="full_name" name="full_name">
  </label>
  <label>
    Company/Organization:
    <input type="Company/Organization" name="Company/Organization">
  </label>
  <label>
    Your email:
    <input type="email" name="email">
  </label>
  <label>
    Your message:
    <textarea name="message"></textarea>
  </label>
  <!-- your other form fields go here -->
  <button type="submit">Send</button>
</form>