<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>

    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
    {
    "symbols": [
      {
        "proName": "COINBASE:BTCUSD",
        "title": "BTC/USD"
      },
      {
        "proName": "BITSTAMP:ETHUSD",
        "title": "ETH/USD"
      },
      {
        "proName": "COINBASE:SOLUSD",
        "title": "SOL/USD"
      },
      {
        "proName": "COINBASE:USDTUSDC",
        "title": "USDTUSDC"
      },
      {
        "proName": "BITSTAMP:XRPUSD",
        "title": "XR/PUSD"
      }
    ],
    "colorTheme": "dark",
    "locale": "en",
    "largeChartUrl": "",
    "isTransparent": false,
    "showSymbolLogo": true,
    "displayMode": "adaptive"
  }
    </script>
  </div>
  <!-- TradingView Widget END -->